################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ParDaddyGolf/.vs/ParDaddyGolf/v16/Server/sqlite3
